<div class="row" style="height:130px;background-color:#01B1AF;">
<div class="col-md-3"></div>
<div class="col-md-3">
<h3 style="color:white;font-family:cursive;margin-top:40px;">Contact:</h3>
<h5 style="margin-top:-11px;color:#30588e;font-family:cursive;">agarwalshaleen2102@gmail.com</h5>
</div>
<div class="col-md-1"></div>
<div class="col-md-3">
<h3 style="color:white;font-family:cursive;margin-top:40px;">Follow:</h3>
<a href="in.linkedin.com/in/shaleen021">
<img src="" alt="in.linkedin.com/in/shaleen021" width="25" height="25" border="0">
</a>
<a href="facbook.com/in/shaleen021">
<img src="" alt="in.linkedin.com/in/shaleen021" width="25" height="25" border="0">
</a>
<a href="google.com/+ShaleenAgarwal021">
<img src="" alt="in.linkedin.com/in/shaleen021" width="25" height="25" border="0">
</a>
</div>
<div class="col-md-2"></div>
</div>