<div>
<div class="row" style="background-color:#808080;">
<div class="col-md-11"></div>
<div class="col-md-1">
<a href="/spring2-mvc-annotation-hello-world/login" style="color:#30588e;"><span class="glyphicon glyphicon-log-in"></span> Login</a>
</div>
</div>
<div class="row" style="background-color:#30588e;">
  <div class="col-md-12">
    <i><h1>Shaleen Agarwal</h1></i>   
    <i><h3 style="color:grey;">Developer, Freelancer</h3></i>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/spring2-mvc-annotation-hello-world/" class="headerlink">HOME</a></li>
        <li><a href="/spring2-mvc-annotation-hello-world/projects" class="headerlink">PROJECTS</a></li>
        <li><a href="#" class="headerlink">BLOGS</a></li>
        <li><a href="/spring2-mvc-annotation-hello-world/hobby" class="headerlink">INTERESTS</a></li>
      </ul>
     
    </div>
  </div>
</nav>
  
