<div class="page">
<header style="display:block;margin:0;padding:0">
<div class="row" style="background-color:#808080;height:20px;padding-bottom:0">
<div class="col-md-11"></div>
<div class="col-md-1">
<a class="pull-right" href="#" style="color:#30588e;">
        <span class="glyphicon glyphicon-log-in pull-right"></span> Login</a>
</div>
</div>

<div class="row" style="background-color:#30588e;padding-top:0">
  <div class="col-md-4">
     <i><h1>Shaleen Agarwal</h1></i>   
  </div> 
</div>
<div class="row" style="background-color:#30588e;padding-top:0">
  <div class="col-md-4">
    <i><h3 style="color:grey;">Developer, Freelancer</h3></i>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" [routerLink]="['/']" class="headerlink">HOME</a></li>
            <li><a href="/spring2-mvc-annotation-hello-world/projects" class="headerlink">PROJECTS</a></li>
            <li><a href="#" class="headerlink">BLOGS</a></li>
            <li><a href="/spring2-mvc-annotation-hello-world/hobby" class="headerlink">INTERESTS</a></li>
          </ul>
        
        </div>
      </div>
    </nav>
  </div>
</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="_progressBar.min" [maximum]="_progressBar.max" [showSpinner]="_progressBar.showSpinner"
        [direction]="'leftToRightIncreased'" [color]="_progressBar.color" [trickleSpeed]="_progressBar.trickleSpeed" [thick]="_progressBar.thick"
 [ease]="'linear'"></ng-progress>
</header>

<section>
  <div>
            <router-outlet></router-outlet>
  </div>
</section>

<footer>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <h3 style="color:white;font-family:cursive;">Contact:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 style="color:#30588e;font-family:cursive;">agarwalshaleen2102@gmail.com</h3>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <h3 style="color:white;font-family:cursive;">Follow:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a href="in.linkedin.com/in/shaleen021">
             <span class="fa fa-linkedin fa-3x"></span>
          </a>
        </div>
        <div class="col-md-2">
           <a href="google.com/+ShaleenAgarwal021">
            <span class="fa fa-google fa-3x"></span>
          </a>
        </div>
        <div class="col-md-2">
           <a href="google.com/+ShaleenAgarwal021"> 
              <span class="fa fa-3x fa-twitter"></span>
          </a>
        </div>
        <div class="col-md-2">
          <a href="facbook.com/in/shaleen021">
            <span class="fa fa-facebook fa-3x"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
     <div id="app-copyright"  class="col-md-2 col-md-offset-10">
                   Copyright &#169; 2017 Shaleen Agarwal   Version : 1.0.0 
      </div>
  </div>
</footer>
</div>



