.round-button-circle {
	
width:150px;
height:150px;
	padding-bottom: 100%;
    border-radius: 50%;
	background: #01B1AF;
    overflow:hidden;
}
.round-button {

	float:right;
	width:14%;
}

.img-circle{
	border:10px solid #cfdcec;
    overflow:hidden;
	 border-radius: 50%;
	 width:225px;
	 height:225px;
	}