.round-button-circle {
	align-content: center;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
	text-align: center;
    border-radius: 50%;
	background: #01B1AF;
    overflow:hidden;
	width:160px;
	height:160px;
}


.img-circle{
	border:10px solid #cfdcec;
    overflow:hidden;
	border-radius: 50%;
	width:200px;
	height:200px;
}

.round-button {
	margin-left:20%;
	margin-top:66px;
}
.homeContent{
	color:#595959; 
	font-style:italic;
}