
<div class="row" style="background-color:#e0e0d1;">
<div class="col-md-2"></div>
<div class="col-md-2">
   <img class="img-circle" src="data:image/jpg;base64,${image}"/>
</div>
<div class="col-md-2"></div>
<div class="col-md-1">
<div class="round-button-circle"><a href="/spring2-mvc-annotation-hello-world/resume" class="round-button">RESUME</a></div>
</div>
<div class="col-md-1">
<div class="round-button-circle"><a href="/spring2-mvc-annotation-hello-world/hobby">HOBBIES</a></div>
</div>
<div class="col-md-1">
<div class="round-button-circle" ><a href="/spring2-mvc-annotation-hello-world/projects" class="round-button">MY WORK</a></div>
</div>
<div class="col-md-1">
<div class="round-button-circle"><a href="/spring2-mvc-annotation-hello-world/contact">CONTACT ME</a></div>
</div>
<div class="col-md-2"></div>
</div>