<div>
    <div class="row" style="min-height:50px;">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-3">
            <img class="img-circle" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1 round-button-circle img-responsive">
            <a [routerLink]="['/displayResume']" routerLinkActive="active-link" class="round-button">RESUME</a></div>
        <div class="col-md-1 round-button-circle img-responsive" >
            <a  [routerLink]="['/contactMe']" routerLinkActive="active-link"  class="round-button">HOBBIES</a></div>
        <div class="col-md-1 round-button-circle img-responsive">
            <a  [routerLink]="['/contactMe']" routerLinkActive="active-link" class="round-button">MY WORK</a></div>
        <div class="col-md-1 round-button-circle img-responsive">
            <a [routerLink]="['/contactMe']" routerLinkActive="active-link" style="margin-left:15%;" class="round-button" href="#">CONTACT ME</a></div>
        <div class="col-md-3">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <I><h4>Our names are labels, plainly printed on the bottled essense of our past behaviour.</h4></I>
        </div>
        <div class="col-md-2">
            <h3> Logan Pearsall</h3>
        </div>
    </div>

    <div class="row" style="margin-top:3%;">
        <div class="col-md-10 col-md-offset-1">
           <h4 class="homeContent">
                My Name is Shaleen Agarwal which means "sophisticated" and I would like to introduce myself as a
                Business Technology Analyst working with Deloitte(Offices of US). I have Completed my B.Tech degree 
                in Computer Science. 
            </h4>
        </div>
    </div>
     <div class="row">
        <div class="col-md-10 col-md-offset-1">
           <h4 class="homeContent">
                My technical expertise includes cross-platform proficiency (Windows and Linux); fluency in
                Scripting/Programming languages(C, C++, SQL, JAVA/J2EE, Angular) and advanced knowledge of 
                methodologies and best practices(including OOPS, Client/Server Architecture). My Curriculum 
                comprised of courses like Design and Analysis of Algorithms, Data Structures, Database Systems, 
                Operating system has assisted me to gain profound knowledge in the field of Computer Science.
            </h4>
        </div>
    </div>
     <div class="row">
        <div class="col-md-10 col-md-offset-1">
           <h4 class="homeContent">
                Adapting to various work cultures, identifying and resolving bottlenecks and prioritizing 
                have been striking features of my working style. I currently reside in Bengaluru, Karnataka
                and spend my time in reading/writing articles, coding and blogging.
           </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>